 :root {
  --wfm-primary-0: #000000;
  --wfm-primary-4: #13003a;
  --wfm-primary-6: #190048;
  --wfm-primary-10: #22005d;
  --wfm-primary-12: #260561;
  --wfm-primary-17: #31166c;
  --wfm-primary-20: #381e72;
  --wfm-primary-22: #3c2377;
  --wfm-primary-24: #41287c;
  --wfm-primary-25: #432b7e;
  --wfm-primary-30: #4f378a;
  --wfm-primary-35: #5b4397;
  --wfm-primary-40: #6750a4;
  --wfm-primary-50: #8069bf;
  --wfm-primary-60: #9a83db;
  --wfm-primary-70: #b69df8;
  --wfm-primary-80: #cfbcff;
  --wfm-primary-87: #e1d3ff;
  --wfm-primary-90: #e9ddff;
  --wfm-primary-92: #eee4ff;
  --wfm-primary-94: #f3eaff;
  --wfm-primary-95: #f6eeff;
  --wfm-primary-96: #f8f1ff;
  --wfm-primary-98: #fdf7ff;
  --wfm-primary-100: #ffffff;
  --wfm-secondary-0: #000000;
  --wfm-secondary-4: #100b1d;
  --wfm-secondary-6: #151022;
  --wfm-secondary-10: #1e192b;
  --wfm-secondary-12: #221d2f;
  --wfm-secondary-17: #2c273a;
  --wfm-secondary-20: #332d41;
  --wfm-secondary-22: #373245;
  --wfm-secondary-24: #3c364a;
  --wfm-secondary-25: #3e384c;
  --wfm-secondary-30: #4a4458;
  --wfm-secondary-35: #564f64;
  --wfm-secondary-40: #625b71;
  --wfm-secondary-50: #7b748a;
  --wfm-secondary-60: #958da4;
  --wfm-secondary-70: #b0a7c0;
  --wfm-secondary-80: #cbc2db;
  --wfm-secondary-87: #dfd6ef;
  --wfm-secondary-90: #e8def8;
  --wfm-secondary-92: #eee4fe;
  --wfm-secondary-94: #f3eaff;
  --wfm-secondary-95: #f6eeff;
  --wfm-secondary-96: #f8f1ff;
  --wfm-secondary-98: #fdf7ff;
  --wfm-secondary-100: #ffffff;
  --wfm-tertiary-0: #000000;
  --wfm-tertiary-4: #210410;
  --wfm-tertiary-6: #270815;
  --wfm-tertiary-10: #31101d;
  --wfm-tertiary-12: #361421;
  --wfm-tertiary-17: #421f2c;
  --wfm-tertiary-20: #4a2532;
  --wfm-tertiary-22: #4f2936;
  --wfm-tertiary-24: #542e3b;
  --wfm-tertiary-25: #56303d;
  --wfm-tertiary-30: #633b48;
  --wfm-tertiary-35: #704654;
  --wfm-tertiary-40: #7e5260;
  --wfm-tertiary-50: #996a79;
  --wfm-tertiary-60: #b58392;
  --wfm-tertiary-70: #d29dad;
  --wfm-tertiary-80: #efb8c8;
  --wfm-tertiary-87: #ffcddb;
  --wfm-tertiary-90: #ffd9e3;
  --wfm-tertiary-92: #ffe1e8;
  --wfm-tertiary-94: #ffe8ed;
  --wfm-tertiary-95: #ffecf0;
  --wfm-tertiary-96: #fff0f2;
  --wfm-tertiary-98: #fff8f8;
  --wfm-tertiary-100: #ffffff;
  --wfm-neutral-0: #000000;
  --wfm-neutral-4: #0f0e11;
  --wfm-neutral-6: #141316;
  --wfm-neutral-10: #1c1b1e;
  --wfm-neutral-12: #201f22;
  --wfm-neutral-17: #2b292d;
  --wfm-neutral-20: #313033;
  --wfm-neutral-22: #363438;
  --wfm-neutral-24: #3a383c;
  --wfm-neutral-25: #3d3b3e;
  --wfm-neutral-30: #48464a;
  --wfm-neutral-35: #545156;
  --wfm-neutral-40: #605d62;
  --wfm-neutral-50: #79767a;
  --wfm-neutral-60: #938f94;
  --wfm-neutral-70: #aeaaae;
  --wfm-neutral-80: #cac5ca;
  --wfm-neutral-87: #ddd8dd;
  --wfm-neutral-90: #e6e1e6;
  --wfm-neutral-92: #ece7eb;
  --wfm-neutral-94: #f2ecf1;
  --wfm-neutral-95: #f4eff4;
  --wfm-neutral-96: #f7f2f7;
  --wfm-neutral-98: #fdf8fd;
  --wfm-neutral-100: #ffffff;
  --wfm-error-0: #000000;
  --wfm-error-4: #280001;
  --wfm-error-6: #310001;
  --wfm-error-10: #410002;
  --wfm-error-12: #490002;
  --wfm-error-17: #5c0004;
  --wfm-error-20: #690005;
  --wfm-error-22: #710005;
  --wfm-error-24: #790006;
  --wfm-error-25: #7e0007;
  --wfm-error-30: #93000a;
  --wfm-error-35: #a80710;
  --wfm-error-40: #ba1a1a;
  --wfm-error-50: #de3730;
  --wfm-error-60: #ff5449;
  --wfm-error-70: #ff897d;
  --wfm-error-80: #ffb4ab;
  --wfm-error-87: #ffcfc9;
  --wfm-error-90: #ffdad6;
  --wfm-error-92: #ffe2de;
  --wfm-error-94: #ffe9e6;
  --wfm-error-95: #ffedea;
  --wfm-error-96: #fff0ee;
  --wfm-error-98: #fff8f7;
  --wfm-error-100: #ffffff;
  --wfm-neutral-variant-0: #000000;
  --wfm-neutral-variant-4: #0f0d14;
  --wfm-neutral-variant-6: #14121a;
  --wfm-neutral-variant-10: #1d1a22;
  --wfm-neutral-variant-12: #211e26;
  --wfm-neutral-variant-17: #2b2931;
  --wfm-neutral-variant-20: #322f38;
  --wfm-neutral-variant-22: #36333c;
  --wfm-neutral-variant-24: #3b3840;
  --wfm-neutral-variant-25: #3d3a43;
  --wfm-neutral-variant-30: #49454e;
  --wfm-neutral-variant-35: #54515a;
  --wfm-neutral-variant-40: #615d66;
  --wfm-neutral-variant-50: #7a757f;
  --wfm-neutral-variant-60: #948f99;
  --wfm-neutral-variant-70: #afa9b4;
  --wfm-neutral-variant-80: #cac4cf;
  --wfm-neutral-variant-87: #ded8e3;
  --wfm-neutral-variant-90: #e7e0eb;
  --wfm-neutral-variant-92: #ece6f1;
  --wfm-neutral-variant-94: #f2ebf7;
  --wfm-neutral-variant-95: #f5eefa;
  --wfm-neutral-variant-96: #f8f1fd;
  --wfm-neutral-variant-98: #fdf7ff;
  --wfm-neutral-variant-100: #ffffff;
  
    
  
}

  